<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List fo Students</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<table>

    <tr th:each="student:${students}">
        <td th:utext="'id:'+${student.id}"></td>
        <td th:utext="'name:'+${student.name}"></td>
        <td th:utext="'age'+${student.age}"></td>
        <td th:utext="'address'+${student.address}"></td>
    </tr>
</table>
<a href="/createStudent">Create another student</a>

<form  th:action="@{/students}" method="get">
    <table>
        <tr>
            <td><input type="text" name="name"/></td>
            <td>
                <input type="submit" name="submit" value="Submit"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>